body{
    font-family: roboto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #3f3f3f;
}
.main{
    margin: 20px;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
}
h1, h2{
    padding: 20px
}
button{
    min-width: 150px;
    font-size: 20px;
    font-weight: 600;
    padding: 16px;
    background-color: #db8e35;
    color: #f8f4eb;
    border-radius: 10px;
}
#container{
    display: flex;
    flex-wrap: wrap;
    max-width: 99%;
    
    
    

}
.square{
    flex-grow: 1;
    flex-shrink: 0;
    aspect-ratio: 1 / 1;
}